#shoe {
    width: 600px;
}
#search {
    padding: 10px;
}
#bar {
    background: rgb(160, 160, 160);
    color: white;
}
.nav-link{
    color: white;
    font-size: 19px;
}
.nav-link:hover {
    color: rgb(216, 216, 216);
}
.info img{
    width: 507px;
    height: 350px;
}
.mig {
    margin-top: 24px;
}